# RAPPEL

In [1]:
while 1:
    lettre = input("Tapez Q pour quitter : ")
    if lettre == "Q":
        print("fin")
        break

Tapez Q pour quitter : A
Tapez Q pour quitter : V
Tapez Q pour quitter : Q
fin

In [2]:
def table(nb, max=10):
    """Fonction affichant la table de multiplication par np de 1*nb à 10*nb"""
    i=0
    
    while i <10:
        print(i+1, "*", nb, "=", (i+1)*nb)
        i+=1

In [3]:
table(7)

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

# Exercices Algorithmique

# Bases

## 1.1 Simple échange

In [8]:
def echange(a, b):
    temp = a
    a = b
    b = temp
    print("A = ", a, " et ", "B = ", b)

In [9]:
echange(3, 8)

A =  8  et  B =  3

## 1.2 Le carré

In [18]:
def carre():
    nb = input("Tapez un nombre : ")
    print("Le carré de ", nb, " est ", int(nb) ** 2)

In [19]:
carre()

Tapez un nombre : 4
Le carré de  4  est  16

## 1.3 La condition

In [22]:
def signe():
    nb = input("Tapez un nombre : ")
    if int(nb) > 0:
        print("Positif !")
    elif int(nb) < 0:
        print("Negatif !")
    else:
        print("Zéro !")

In [24]:
signe()
signe()
signe()

Tapez un nombre : 7
Positif !
Tapez un nombre : -5
Negatif !
Tapez un nombre : 0
Zéro !

## 1.4 Le produit

In [25]:
def signeProd(a, b):
    if a * b > 0:
        print("Positif !")
    elif a * b < 0:
        print("Negatif !")
    else:
        print("Zéro !")

In [26]:
signeProd(3, 4)
signeProd(-5, 2)
signeProd(0, 6)

Positif !
Negatif !
Zéro !

## 1.5 Calcul

In [41]:
def suite(nb):
    i=1
    while i<=10:
        print(nb+i)
        i+=1

In [42]:
suite(17)

18
19
20
21
22
23
24
25
26
27

## 1.6 Additivité

In [65]:
def add(nb):
    i = 0
    somme = 0
    while i < nb:
        somme = somme + (nb-i)
        i+=1
    print(somme)

In [66]:
add(5)

15

# RAPPEL (Suite)

In [67]:
ma_liste = [] # liste vide
print(ma_liste)
ma_liste = [1,2,3,4,5]
print(ma_liste)

[]
[1, 2, 3, 4, 5]

In [68]:
ma_liste.insert(2, 'c')
print(ma_liste)

[1, 2, 'c', 3, 4, 5]

In [69]:
len(ma_liste)

6

In [70]:
i = 0
while i < len(ma_liste):
    print(ma_liste[i])
    i += 1

1
2
c
3
4
5

In [71]:
for elt in enumerate(ma_liste):
    print(elt)

(0, 1)
(1, 2)
(2, 'c')
(3, 3)
(4, 4)
(5, 5)

In [72]:
liste = [0,1,2,3,4,5]
[nb * nb for nb in liste]

[0, 1, 4, 9, 16, 25]

In [73]:
a = {}
a["nom"] = "dupont"
a["prenom"] = "jean"

a

{'nom': 'dupont', 'prenom': 'jean'}

In [74]:
a.get('prenom')

'jean'

In [89]:
class Voiture :
    
    def __init__(self, x, y, z):
        print("l'objet a bien été créé")
        self.roue = x
        self.carrosserie = y
        self.moteur = z
    
    def accelere(self):
        print("vroum ", self.moteur)
        
# pass

In [90]:
audi = Voiture(17, 'rouge', 150)
renault = Voiture(15, 'bleu', 82)

print(renault.accelere())
print(audi.accelere())

l'objet a bien été créé
l'objet a bien été créé
vroum  82
None
vroum  150
None

# Les tableaux

## 2.1 La somme

In [109]:
tab1 = [1, 6, 2, 7, 3]

def somme(tab):
    somme = 0
    for elt in tab:
        somme += elt
    print(somme)
    
somme(tab1)

19

## 2.2 La somme : retour

In [110]:
tab2 = [5, 10, 8, 4, 7]

def addTab(tab1, tab2):
    i = 0
    for elt in tab2:
        tab1[i] += elt
        i += 1
    return tab1
    
tab3 = addTab(tab1, tab2)
tab3

[6, 16, 10, 11, 10]

# Objet Python

## Le compte bancaire

In [103]:
class CompteBancaire :
        
    def __init__(self, nom = "Dupont", solde = 1000):
        self.nom = nom
        self.solde = solde
        
    def depot(self, somme):
        self.solde += somme
        
    def retrait(self, somme):
        self.solde -= somme
        
    def affiche(self):
        print("Le solde du compte bancaire de ", self.nom, " est de ", self.solde, " euros.")

In [104]:
compte1 = CompteBancaire('Duchmol', 800)
compte1.depot(350)
compte1.retrait(200)
compte1.affiche()

Le solde du compte bancaire de  Duchmol  est de  950  euros.

In [105]:
compte2 = CompteBancaire()
compte2.depot(25)
compte2.affiche()

Le solde du compte bancaire de  Dupont  est de  1025  euros.